
/*Ваши стили*/
.dannileb-image{
    background-color: grey;
}
.dannileb-text{
    color: white;
}
.dannileb-sign{
    color:blueviolet;
}
.dannileb-sign:hover{
    color: violet;
}

.dannileb2-image-wrapper{
    background-color: aqua;
}
.dannileb2-image{
    height: 256px;
    object-fit: contain;
}