
/*Ваши стили*/
.dannileb-image{
    background-color: grey;
}
.dannileb-text{
    color: white;
}
.dannileb-sign{
    color:blueviolet;
}
.dannileb-sign:hover{
    color: violet;
}

.winter-image{
	background-color: rgb(51, 40, 40);
}
.winter-text{
	color: white;
}
.winter-sign{
	color:blueviolet;
}
.winter-sign:hover{
	color: rgb(241, 163, 241);
}
.winter-image2 {
	height: 350px;
	width: 450px;
}
