
/*Ваши стили*/
.dannileb-image{
    background-color: grey;
}
.dannileb-text{
    color: white;
}
.dannileb-sign{
    color:blueviolet;
}
.dannileb-sign:hover{
    color: violet;
}

.edw1s-image{
    background-color: black;
}
.edw1s-text{
    color: white;
}
.edw1s-sign{
    color:blueviolet;
}
.edw1s-sign:hover{
    color: violet;
}